<section class="following_followed" > 
  <span><%= link_to "フォロー", :action => "followings", :u_id => @user.id %> | 
        <%= link_to "フォロワー", :action => "followers", :u_id => @user.id %></span>
</section>